In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df_simple_tag = pd.read_csv('../data/training_data_simple_tag.csv')
df_simple_reference = pd.read_csv('../data/training_data_simple_reference.csv')
df_simple_crypto = pd.read_csv('../data/training_data_simple_crypto.csv')
df_simple_reference_iddpg = pd.read_csv('../data/training_data_simple_reference_iddpg.csv')

In [4]:
df_simple_tag.head()

,iteration,lr,train_batch_size,gamma,n_optimiser_steps,max_grad_norm,episode_reward_mean_adversary,episode_reward_mean_agent
0,0,0.00001,128,0.99,100,1.0,7.0,-7.0
1,1,0.00001,128,0.99,100,1.0,1.0,-1.0
2,2,0.00001,128,0.99,100,1.0,46.0,-46.0
3,3,0.00001,128,0.99,100,1.0,202.0,-202.0
4,4,0.00001,128,0.99,100,1.0,1.0,-1.0

In [5]:
df_simple_reference.head()

,iteration,lr,train_batch_size,gamma,n_optimiser_steps,max_grad_norm,episode_reward_mean_agents
0,0,0.00001,10,0.99,100,1.0,-203.774765
1,1,0.00001,10,0.99,100,1.0,-199.758026
2,2,0.00001,10,0.99,100,1.0,-264.652893
3,3,0.00001,10,0.99,100,1.0,-281.747101
4,4,0.00001,10,0.99,100,1.0,-311.593201

In [6]:
df_simple_crypto.head()

,iteration,lr,train_batch_size,gamma,n_optimiser_steps,max_grad_norm,episode_reward_mean_eve,episode_reward_mean_bob,episode_reward_mean_alice
0,0,0.00001,10,0.99,100,1.0,-177.394928,5.616959,5.616959
1,1,0.00001,10,0.99,100,1.0,-156.222626,-4.082033,-4.082033
2,2,0.00001,10,0.99,100,1.0,-156.683899,-3.731676,-3.731676
3,3,0.00001,10,0.99,100,1.0,-131.066467,-18.625031,-18.625031
4,4,0.00001,10,0.99,100,1.0,-121.291733,-20.719635,-20.719635

In [7]:
df_simple_reference_iddpg.head()

,iteration,lr,train_batch_size,gamma,n_optimiser_steps,max_grad_norm,episode_reward_mean_agents
0,0,0.00001,10,0.99,100,1.0,-231.936005
1,1,0.00001,10,0.99,100,1.0,-244.498688
2,2,0.00001,10,0.99,100,1.0,-280.064850
3,3,0.00001,10,0.99,100,1.0,-375.338165
4,4,0.00001,10,0.99,100,1.0,-443.447327